<h4>Formularios <small> por Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="onSubmit(form)" #form="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
            #name="ngModel"
            [class.is-invalid]="name.invalid && name.touched"
            type="text"
            name="name"
            [(ngModel)]="user.name"
            required
            minlength="5"
            placeholder="Nombre">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
              #lastName="ngModel"
              [class.is-invalid]="lastName.invalid && lastName.touched"
              type="text"
              name="lastName"
              [(ngModel)]="user.lastName"
              required
              minlength="5"
              placeholder="Apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            type="email"
            name="email"
            [(ngModel)]="user.email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            placeholder="Correo electrónico">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
