<h4>Formularios <small> por Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="onSubmit(form)" #form="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
            #name="ngModel"
            [class.is-invalid]="name.invalid && name.touched"
            type="text"
            name="name"
            [(ngModel)]="user.name"
            required
            minlength="5"
            placeholder="Nombre">
        <small *ngIf="name.invalid && name.touched" class="form-text text-danger">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
              #lastName="ngModel"
              [class.is-invalid]="lastName.invalid && lastName.touched"
              type="text"
              name="lastName"
              [(ngModel)]="user.lastName"
              required
              minlength="5"
              placeholder="Apellido">
        <small *ngIf="lastName.invalid && lastName.touched" class="form-text text-danger">Ingrese 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input class="form-control"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            type="email"
            name="email"
            [(ngModel)]="user.email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            placeholder="Correo electrónico">
      <small *ngIf="email.invalid && email.touched" class="form-text text-danger">Ingrese un correo válido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">
      <select 
          #country="ngModel"
          class="form-control"
          [class.is-invalid]="country.invalid && country.touched"
          [(ngModel)]="user.country"
          required
          name="country"
          [disabled]="countries.length === 0">
          <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
      </select>
      <small *ngIf="country.invalid && country.touched" class="form-text text-danger">Seleccione un país</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          #gender="ngModel"
          name="gender"
          [(ngModel)]="user.gender"
          value="M"
          [class.is-invalid]="gender.invalid && gender.touched"
          type="radio" 
          required>
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          #gender="ngModel"
          name="gender"
          [(ngModel)]="user.gender"
          value="F"
          [class.is-invalid]="gender.invalid && gender.touched"
          type="radio" 
          required>
        <label for="" class="form-check-label">Femenino</label>
      </div>
      <!-- <small *ngIf="country.invalid && country.touched" class="form-text text-danger">Seleccione un país</small> -->
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
