<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
            formControlName="name"
            type="text"
            [class.is-invalid]="nameIsNotValid"
            placeholder="Nombre">
        <small *ngIf="nameIsNotValid" class="form-text text-danger">Nombre no válido</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
              formControlName="lastName"
              type="text"
              [class.is-invalid]="lastNameIsNotValid"
              placeholder="Apellido">
        <small *ngIf="lastNameIsNotValid" class="form-text text-danger">Apellido no válido</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
            formControlName="email"
            type="email"
            [class.is-invalid]="emailIsNotValid"
            placeholder="Correo electrónico">
      <small *ngIf="emailIsNotValid" class="form-text text-danger">Correo no válido</small>
    </div>
  </div>

  <div class="form-group row" formGroupName="address">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col">
        <input class="form-control"
            formControlName="street"
            type="text"
            [class.is-invalid]="streetIsNotValid"
            placeholder="Calle">
        <small *ngIf="streetIsNotValid" class="form-text text-danger">Calle no válida</small>
      </div>
      <div class="col">
        <input class="form-control"
            formControlName="city"
            type="text"
            [class.is-invalid]="cityIsNotValid"
            placeholder="Ciudad">
        <small *ngIf="cityIsNotValid" class="form-text text-danger">Ciudad no válida</small>
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado de formulario:  {{ form.valid }}
  <br>
  Status: {{form.status}}
</pre>
<pre>
{{ form.value | json }}
</pre>